
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a modern color scheme */
body {
  font-family: cursive;
  margin: 0;
  padding: 0;
  background-color: lightblue; /* Set the background color to purple */
  color: black;
}

/* Style the header and navigation */
header {
  background-color: #000000;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Style the main content section */
main {
  padding: 20px;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

/* Style the footer */
.site-footer {
  background-color: #111;
  color: #156;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}


